
#userinfo{
            border: 1px solid black;
            width: 300px;
            padding: 5px;
         }
#username{
            width : 270px;
         } 
.material-icons{
               font-size: 14px;
               color:red;
               cursor : pointer;
           }

#userslist{
           margin-left:  600px;
           margin-top: -340px;
           width: 300px;
        }